#wp-admin-bar-ddtt-online-users .ab-icon {
    margin-top: 9px;
    margin-right: 6px;
    background-color: green;
    border-radius: 50%;
}

#wp-admin-bar-ddtt-online-users .ab-label {
    margin-left: 6px;
}

@media (max-width: 1200px) { 
    #wp-admin-bar-ddtt-online-users .ab-label {
        display: none !important;
    }
}

#wp-admin-bar-ddtt-online-users-li-blank {
    height: 10px;
}

#wp-admin-bar-ddtt-online-users .ab-sub-wrapper .ab-item:has(span) {
    display: flex;
    align-items: center;
}

#wp-admin-bar-ddtt-online-users-total {
    font-weight: bold;
    border-top: 1px solid #A7AAAD;
    margin-top: 5px !important;
    padding-top: 5px !important;
    margin-bottom: 5px !important;
}

#wp-admin-bar-ddtt-online-users-total .ab-item {
    opacity: 0.73;
}

#wp-admin-bar-ddtt-online-users .ddtt-online-user.dev {
    padding-right: 14px;
    display: inline-flex;
}

#wp-admin-bar-ddtt-online-users-default li {
    float: left !important;
    width: 100%;
}